# .gitignore
.pth

/NasData/home/kmg/models_backup/test_result
/NasData/home/kmg/models_backup/data
/NasData/home/kmg/models_backup/terminal_log
/NasData/home/kmg/termproject/pytorch-cifar/training_history/changed_optimizer
/NasData/home/kmg/termproject/pytorch-cifar/training_history/origin_optimizer

/NasData/home/kmg/models_backup/SimpleDLA_time240609_110229.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184340.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_185201.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234510.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110411.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143449.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202736.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184343.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_185300.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234536.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110424.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143500.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202804.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184346.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_185346.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234548.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143235.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143538.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202833.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184349.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_185433.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234601.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143245.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143549.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202910.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184352.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234356.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234613.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143254.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143611.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_204144.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184354.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234405.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110152.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143309.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143624.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_204319.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184358.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234415.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110205.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143317.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_201827.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184401.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234425.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110215.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143326.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_201944.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184407.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234436.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110238.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143334.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202304.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_184410.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234450.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110247.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143342.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202457.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_185107.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240608_234500.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_110400.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240609_143350.pth
/NasData/home/kmg/models_backup/SimpleDLA_time240616_202551.pth